{{ form.media }}

{% load.static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}ko rejisuta{% endblock title %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
<style>
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    }
</style>

{% block content %}

{% endblock %}

</body>



</html>